.game-container {
    display: flex; 
    justify-content: space-around; 
    align-items: center;

    background-color: #b5e48c;

    height: 100vh;
    min-height: 590px;

    background: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-green-bamboo-background-template-image_133079.jpg');

    height: 100vh;
    background-size: 100% 100%;
}

.pontuacao {
    height: 80%;
    width: 18%;
    background-color: #fff;

    border-radius: 5px;
    box-shadow: 3px 5px 15px -5px rgba(0,0,0,0.72);

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 10px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    height: 20%;
}

.info img {
    border-radius: 40px;
    width: 60%;
    height: 70%;
}

.info h3 {
    color: green;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.info h2 {
    font-family: Comic Sans MS, Comic Sans, cursive;
}


@media screen and (max-width: 1195px) {
    .game-container {
        flex-direction: column
    }

    .pontuacao {
        width: 90%;
        margin-bottom: 30px;
        flex-direction: row;
        height: 30%;
        margin-top: 20%;
    }

    .info {
        width: 100%;
        height: 100%;
    }
}
