.game-container {
    display: flex; 
    justify-content: space-around; 
    align-items: center;

    background-color: #F5F5F5;

    height: 100vh;
}

.pontuacao {
    height: 70%;
    width: 22%;
    background-color: #fff;

    border-radius: 5px;
    box-shadow: 3px 5px 15px -5px rgba(0,0,0,0.72);

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 10px;

    flex-shrink: 1  ;
}

.info {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    height: 100px;
}

.info img {
    border-radius: 50px;
}

.info h3 {
    color: green;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.info h2s {
    font-family: Comic Sans MS, Comic Sans, cursive;
}