.scores-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: #fff;
    background: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-green-bamboo-background-template-image_133079.jpg');
    background-size: cover;

    height: 100vh;
}