.canvas {
    border-radius: 10px;
    border: 1px solid black;
}
.btn-jogar-novamente
{
  width: 100%;
  background-color:green;
  padding:10px;
  border:0px;
  color:#fff;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size:20px;
  margin:10px 40px;
  position:relative;
  text-transform:uppercase;
}
.btn-jogar-novamente:before,
.btn-jogar-novamente:after {
  border-color: green;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content:"";
  height: 24px;
  position: absolute;
  width: 24px;
}
.btn-jogar-novamente:before {
  border-left-width: 2px;
  border-top-width: 2px;
  left: -5px;
  top: -5px;
}

.btn-jogar-novamente:after {
  border-bottom-width: 2px;
  border-right-width: 2px;
  bottom: -5px;
  right: -5px;
}
.btn-jogar-novamente:hover:before,
.btn-jogar-novamente:hover:after
{
  height:100%;
  width:100%;
}
